#ml-navbar {
  background: $primary-yellow;
  padding: 1em;
  input[type="text"] {
    border: 0 rgba(0,0,0,.2);
    color: #333;
    font-size: 16px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 90%;
    height: 40px;
    margin: 0;
    padding: 3px 3px 3px 15px;
    font-family: inherit;
  }

  .left,
  .right {
    display: inline-block;
  }

  .right {
    margin-left: 5px;
    @media only screen and(min-width:320px) {
      min-width: 15px;
    }
    @media only screen and(min-width:768px) {
      min-width: 30px;
    }
  }

  .search-bar {
    position: relative;
    .nav-search-btn {
      position: absolute;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      width: 40px;
      height: 40px;
      border: none;
      background: #f0f0f0;
      .nav-icon-search {
        position: relative;
        &:before {
          content: "";
          background-image: url('../../media/ic_Search.png');
          background-repeat: no-repeat;
          background-size: contain;
          width: 20px;
          height: 20px;
          top: 0;
          left: 0;
          display: block;
        }
      }
    }
  }

}